body {
    margin: 0;
}

.container {
    height: 200px;
    width: 200px;
    background-color: grey;
    position: relative;
}

.red {
    height: 100px;
    width: 100px;
    background-color: red;
    position: absolute;
    top: 5px;
    right: 10px;
}

.green {
    height: 100px;
    width: 100px;
    background-color: green;
    position: absolute;
    right: 100px;
    top: 350px;

}   

.brown {
    height: 100px;
    width: 100px;
    background-color: brown;
    position: absolute;
    right: 200px;
}